.leaflet-div-icon {
  background-color: #fff;
  border: 1px solid #38f !important;
  border-radius: 50%;
  margin: -8px 0 0 -8px !important;
  width: 14px !important;
  height: 14px !important;
  outline: 0;
  transition: opacity 0.3s ease;
}

.leaflet-middle-icon {
  opacity: 0.7;
  margin: -6px 0 0 -6px !important;
  width: 10px !important;
  height: 10px !important;
}

.leaflet-tooltip {
  text-shadow: rgb(255, 255, 255) 2px 0px 0px,
    rgb(255, 255, 255) 1.75517px 0.958851px 0px,
    rgb(255, 255, 255) 1.0806px 1.68294px 0px,
    rgb(255, 255, 255) 0.141474px 1.99499px 0px,
    rgb(255, 255, 255) -0.832294px 1.81859px 0px,
    rgb(255, 255, 255) -1.60229px 1.19694px 0px,
    rgb(255, 255, 255) -1.97998px 0.28224px 0px,
    rgb(255, 255, 255) -1.87291px -0.701566px 0px,
    rgb(255, 255, 255) -1.30729px -1.5136px 0px,
    rgb(255, 255, 255) -0.421592px -1.95506px 0px,
    rgb(255, 255, 255) 0.567324px -1.91785px 0px,
    rgb(255, 255, 255) 1.41734px -1.41108px 0px,
    rgb(255, 255, 255) 1.92034px -0.558831px 0px !important;
  color: black !important;
  align-items: center !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: unset !important;
  line-height: normal !important;
}
